---
import { getCollection, type CollectionEntry } from "astro:content";
import ContentLayout from "@layouts/ContentLayout.astro";
import { formatDate } from "$lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { pubDate, updatedDate } = entry.data;
const isUpdated = updatedDate && updatedDate.getTime() > pubDate.getTime();
---

<ContentLayout {...entry.data} label={entry.data.category}>
  <Content />

  {
    isUpdated && (
      <div class="text-muted mt-18 text-center font-mono text-xs uppercase">
        <span>Last updated on</span>
        <time datetime={updatedDate.toISOString()}>
          {formatDate(updatedDate, true)}
        </time>
      </div>
    )
  }
</ContentLayout>
