---
import PageHeader from "@components/common/PageHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="about">
  <PageHeader title="about me"> <p>...</p> </PageHeader>
</BaseLayout>
