---
import PageHeader from "@components/common/PageHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import ContactFrom from "@components/ui/ContactFrom.svelte";
---

<BaseLayout title="contact">
  <PageHeader title="contact me"> <p>let's keep in touch</p> </PageHeader>
  <ContactFrom />
</BaseLayout>
