---
import { getCollection } from "astro:content";
import ProjectCard from "@components/ProjectCard.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";

const allProjects = await getCollection("projects");
---

<BaseLayout>
  <main class="max-w-4xl mx-auto p-8">
    <h1 class="text-4xl font-bold text-primary mb-8">Projects</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {allProjects.map((project) => (
        <ProjectCard project={project} />
      ))}
    </div>
  </main>
</BaseLayout>
