---
import { getCollection } from "astro:content";
import PostCard from "@components/blog/PostCard.svelte";
import ProjectCard from "@components/projects/ProjectCard.svelte";
import SectionHeader from "@components/ui/SectionHeader.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";

const recentProjects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4);
const recentPosts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<BaseLayout title="home">
  <section class="mb-10">
    <h1 class="text-fg-strong mb-4 text-2xl font-bold">
      pedro castro <span class="text-muted font-normal"
        >// informatics and computing engineering student
      </span>
    </h1>
    <p class="text-fg-muted max-w-2xl">
      i have a strong interest in problem-solving and algorithm design.
      passionate about learning new technologies and contributing to projects.
      i'm also an avid reader and a strong advocate for open-source
      collaboration.
    </p>
  </section>

  <div class="flex flex-col gap-20 py-10">
    <section>
      <SectionHeader title="Recent Work" />
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        {recentProjects.map((project) => <ProjectCard {project} />)}
      </div>
    </section>

    <section>
      <SectionHeader title="Latest from Blog" />
      <div class="flex flex-col">
        {
          recentPosts.map((post, index) => (
            <div class={index !== 0 ? "border-border/40 border-t" : ""}>
              <PostCard {post} />
            </div>
          ))
        }
      </div>
    </section>
  </div>
</BaseLayout>
