---
import PostCard from "@components/blog/PostCard.svelte";
import ProjectCard from "@components/projects/ProjectCard.svelte";
import SectionHeader from "@components/ui/SectionHeader.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getPosts, getProjects } from "$lib/content";
import PageHeader from "@components/common/PageHeader.astro";

const recentProjects = await getProjects(4);
const recentPosts = await getPosts(3);
---

<BaseLayout title="home">
  <PageHeader
    title="pedro castro"
    subtitle="// informatics and computing engineering student"
  >
    <p class="mt-4">
      i have a strong interest in problem-solving and algorithm design.
      passionate about learning new technologies and contributing to projects.
      i'm also an avid reader and a strong advocate for open-source
      collaboration.
    </p>
  </PageHeader>

  <div class="flex flex-col gap-20 py-10">
    <section>
      <SectionHeader title="Recent Work" />
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        {recentProjects.map((project) => <ProjectCard {project} />)}
      </div>
    </section>

    <section>
      <SectionHeader title="Latest from Blog" />
      <div class="flex flex-col">
        {
          recentPosts.map((post, index) => (
            <div class={index !== 0 ? "border-border/40 border-t" : ""}>
              <PostCard {post} />
            </div>
          ))
        }
      </div>
    </section>
  </div>
</BaseLayout>
