---
import { getCollection } from "astro:content";
import ProjectCard from "@components/ProjectCard.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";

const recentProjects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 6);
---

<BaseLayout title="home">
  <section class="mb-10">
    <h1 class="text-fg-strong mb-4 text-2xl font-bold">
      pedro castro <span class="text-muted font-normal"
        >// informatics and computing engineering student
      </span>
    </h1>
    <p class="text-fg-muted max-w-2xl">
      i have a strong interest in problem-solving and algorithm design.
      passionate about learning new technologies and contributing to projects.
      i'm also an avid reader and a strong advocate for open-source
      collaboration.
    </p>
  </section>

  <section>
    <div class="mb-8 flex items-center gap-4">
      <h2 class="text-secondary font-mono text-sm tracking-widest">
        RECENT WORK
      </h2>
      <div class="bg-border/50 h-px flex-1"></div>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {recentProjects.map((project) => <ProjectCard {project} />)}
    </div>
  </section>
</BaseLayout>
