---
import { getCollection } from "astro:content";
import ProjectCard from "@components/projects/ProjectCard.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";

const allProjects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((entry) => entry.data);
---

<BaseLayout title="projects">
  <section class="mb-8">
    <h1 class="text-fg-strong mb-2 text-2xl font-bold">projects</h1>
    <p class="text-fg-muted">A collection of my recent work.</p>
  </section>

  <section>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {allProjects.map((project) => <ProjectCard {project} />)}
    </div>
  </section>
</BaseLayout>
